.online-design-general-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .design-workbench-container {
        height: 100%;
        width: 100%;
        padding: 80px;
        box-sizing: border-box;
        background-color: #263445;

        .drawing-board-container {
            height: 100%;
            position: relative;
            flex: 1;

            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            overflow: hidden;

            .drawing-canvas-container {
                position: absolute;

                .drawing-canvas {
                    position: relative;
                    overflow: hidden;

                    .layer-background {
                        width: 100%;
                        height: 100%;
                    }

                    :deep(.layer-item) {
                        position: absolute;

                        .layer-zoom-box {

                            .line-item,
                            .icon-item {
                                display: none;
                            }
                        }

                        &.is-active {
                            >.layer-zoom-box {

                                .line-item,
                                .icon-item {
                                    display: initial;
                                }
                            }
                        }


                    }
                }
            }
        }
    }

}