.design-element {
    width: 250px;
    background-color: #263445;
    padding: 0 16px;
    box-sizing: border-box;

    .el-form {
        &.layer-toolbar {
            .el-form-item {
                .el-form-item__label {
                    color: #fff;
                }
            }
        }
    }
}

.font-weight-bold {
    >span {
        font-weight: bold;
        color: black;
    }
}

.font-weight-normal {
    >span {
        font-weight: normal;
        color: inherit;
    }
}

.font-style-italic {
    >span {
        font-style: italic;
        color: black;
    }
}

.font-style-normal {
    >span {
        font-style: normal;
        color: inherit;
    }
}

.text-decoration-underline {
    >span {
        text-decoration: underline;
        color: black;
    }
}

.text-decoration-none {
    >span {
        text-decoration: none;
        color: inherit;
    }
}

.el-color-picker__panel {
    pointer-events: initial;
}

.design-element-tabs {
    --el-text-color-primary: #fff;

    .el-tabs__item {
        padding: 0 10px;
    }
}